In [2]:
import pandas as pd
import numpy as np

fname = 'ca_Datasets.xlsx'
data = pd.read_excel(fname)
data.head()

    Dataset A    Dataset B   Dataset C
0  962.901899  1711.576717   25.806023
1  542.172459   748.046625  195.736806
2  442.844917   399.014818    5.436013
3  736.420630   418.212011   29.536340
4  347.759818   184.606429   10.609514

# 1. How many rows of data are included in the datasets given?

In [3]:
data.shape

(2000, 3)

# 2. What is the covariance of Datasets A and B? Round to 2 decimal places.
# 3. Which dataset pair has the highest covariance?

In [4]:
data.cov()

               Dataset A      Dataset B     Dataset C
Dataset A   79391.945295   81420.522426  1.208582e+05
Dataset B   81420.522426  268481.454151  1.151984e+05
Dataset C  120858.163445  115198.394891  8.789164e+07